<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestión Academica: Eliminar un profesor</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>

    <div th:replace="~{fragments/general.html :: navigation}"> </div>

    <div class="container">
        <h3>Eliminar profesor</h3>

        <form th:action="|/profesor/delete/${profesor.id}|" th:object="${profesor}" method="post">
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Nombre: </label>
                        <input type="text" th:field="*{nombre}" class="form-control" disabled/>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Apellido: </label>
                        <input type="text" th:field="*{apellido}" class="form-control" disabled />
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Email: </label>
                        <input type="email" th:field="*{email}" class="form-control" disabled/>
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Nombre de usuario: </label>
                        <input type="text" th:field="*{username}" class="form-control" disabled/>
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="/profesor" class="btn btn-primary">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div th:replace="~{fragments/general.html :: footer}"></div>

</body>

</html>
