<!DOCTYPE html>
<html lang="es">

<head>
  <title>Gestion Academica: Gestión De Profesores</title>
  <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
  
    <div th:replace="~{fragments/general.html :: navigation}"> </div>
    <div class="container">
        <h3>Asignaturas Impartidas Por El Profesor <span th:text="${profesor.nombre}"></span></h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Curso</td>
                    <td>Ciclo</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="asignatura: ${asignaturas}">
                    <td th:text="${asignatura.nombre}"></td>
                    <td th:text="${asignatura.curso}"></td>
                    <td th:text="${asignatura.ciclo}"></td>
                </tr>
            </tbody>
        </table>

        <div th:replace="~{fragments/general.html :: footer}"></div>
    </div>
</body>

</html>