<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestion Academica: Añadir Una Asignatura</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>

        <div th:replace="~{fragments/general.html :: navigation}"> </div>

        <div class="container">
            <h3>Añadir Una Asignatura</h3>

            <form th:action="@{/asignaturas/add}" th:object="${asignatura}" method="post">
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Nombre: <input type="text" th:field="*{nombre}"
                                    class="form-control" required/></label>
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Curso: <input type="text" th:field="*{curso}"
                                    class="form-control" required/></label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Ciclo: <input type="text" th:field="*{ciclo}"
                                    class="form-control" required/></label>
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="/asignaturas" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
            </form>
            

            <div th:replace="~{fragments/general.html :: footer}"></div>
        
    </div>
</body>

</html>