<!DOCTYPE html>
<html lang="es">

<head>
  <title>Gestion Academica</title>
  <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
  <div class="container-fluid">
    <div th:replace="~{fragments/general.html :: navigation}"> </div>

    <h1>Bienvenido a la gestion academica</h1>
    <p>En esta pagina podrás gestionar alumnos, profesores, asignaturas dependiendo del rol que desempeñes.</p>
    <div th:replace="~{fragments/general.html :: footer}"></div>
  </div>
</body>

</html>