<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestión Academica: Eliminar un alumno</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>

    <div th:replace="~{fragments/general.html :: navigation}"> </div>

    <div class="container">
        <h3>Eliminar alumno</h3>

        <form th:action="|/alumnos/delete/${alumno.id}|" th:object="${alumno}" method="post">
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Nombre: </label>
                        <input type="text" th:field="*{nombre}" class="form-control" disabled/>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Apellido: </label>
                        <input type="text" th:field="*{apellido}" class="form-control" disabled />
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Email: </label>
                        <input type="email" th:field="*{email}" class="form-control" disabled/>
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Nombre de usuario: </label>
                        <input type="text" th:field="*{username}" class="form-control" disabled/>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Contraseña:</label> 
                        <input type="password" th:field="*{password}" class="form-control" disabled/>
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Teléfonos:</label>
                        <ul>
                            <li th:each="telefono : ${alumno.telefonos}" th:text="${telefono.numero}"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="/alumnos" class="btn btn-primary">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div th:replace="~{fragments/general.html :: footer}"></div>

</body>

</html>
